version: '3'

services:
  gateway:
    build:
      context: ./
      dockerfile: ./build/package/docker/gatewayDockerfile
    ports:
      - 8080:8080
    tty:
      true
    depends_on:
      - user
  user:
    build:
      context: ./
      dockerfile: ./build/package/docker/user/Dockerfile
    ports:
      - 50051:50051
    tty:
      true
    depends_on: 
      - user_db
  auth:
    build:
      context: ./
      dockerfile: ./build/package/docker/auth/Dockerfile
    ports:
      - 50052:50052
    tty:
      true
    depends_on: 
      - user_db
  user_db:
    image: postgres:alpine
    container_name: "user_db"
    environment: 
      POSTGRES_USER: gorm
      POSTGRES_PASSWORD: gorm
      POSTGRES_DB: gorm
      POSTGRES_HOST: user_db
    ports:
      - 5432:5432